.pagination-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-link {
    border: 1px solid lightgrey;
    padding: 5px 15px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 5px;
    color: #252525;
    text-decoration: none;
}

.pagination-link:hover {
    background-color: gainsboro;
}

.page-num-selected {
    background-color: gainsboro;
}