{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/task_list.css' %}">
<link rel="stylesheet" href="{% static 'css/pagination.css' %}">
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container__main d-flex flex-column justify-content-center align-items-center vh-100 bg-light">
    <section class="todo__frame">
        <section class="frame__header">
            <h1 class="title">Todos ({{ total_tasks }})</h1>
        </section>
        <section class="frame__content">
            <form class="form__control" method="POST" action="{% url 'tasks' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <ul class="list-group">
            {% for task in tasks %}
              <li class="list-group-item list-group-item__custom d-flex flex-row justify-content-between">
                  <div class="left d-flex flex-row">
                      <label class="">
                          <input type="checkbox" id="taskCheckbox" data-task-id="{{ task.id }}" {% if task.status %}checked{% endif %}>
                          {{ task.title }}
                      </label>
                  </div>
                  <div class="right d-flex flex-row">
                      <a class="btn btn-success bi bi-pencil-square" href="{% url 'update_task' task.pk %}"></a>
                      <form action="{% url 'delete_task' task.pk %}" method="post">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-danger bi bi-trash"></button>
                      </form>
                  </div>
              </li>
            {% endfor %}
            </ul>
            {% include 'include/pagination.html' %}
        </section>
    </section>
</div>
{% endblock %}
